html {
  height: 100%;
  width: 100%;
}

body {
  background: #2c2c2c !important;
}

h2 {
  color: white !important;
}

footer {
  background-color: #1e1e1e !important;
  position: absolute;
  width: 100%;
  margin-top: 20vh !important;
}

.header-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-color: #2c2c2c;
  transition: background 0.4s ease-in-out;
}

.wrap {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(44, 44, 44, 0.85);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.wrap:hover {
  transform: scale(1.05);
  background-color: rgba(44, 44, 44, 0.6);
}

.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-image: url("../../public/images/black-ferrari.jpg");
  background-size: cover;
  background-position: center;
  transition: opacity 0.4s ease-in-out;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wrap:hover .overlay {
  opacity: 1;
}

.overlay-content {
  text-align: center;
  color: white;
}

.overlay-content h1 {
  font-size: 5.25vmin;
  margin-bottom: 1rem;
}

.slogan {
  font-size: 3vmin;
  color: #cccccc;
  margin-top: 0.5rem;
  transition: opacity 0.4s ease-in-out;
}

.hover-slogan {
  font-size: 3vmin;
  color: #cccccc;
  margin-top: 0.5rem;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.wrap:hover .slogan {
  opacity: 0;
}

.wrap:hover .hover-slogan {
  opacity: 1;
}

.animate {
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-fill-mode: backwards;
}

.pop {
  animation-name: pop;
}

@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.slide-left {
  animation-name: slide-left;
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translate(-40px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.delay-4 {
  animation-delay: 1.2s;
}

.container-marcas {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  grid-gap: 20px;
  grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 1200px) {
  .container-marcas {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 992px) {
  .container-marcas {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .container-marcas {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .container-marcas {
    grid-template-columns: repeat(2, 1fr);
  }
  .marcas {
    max-width: 150px;
  }
}

.marcas {
  display: flex;
  justify-content: center;
  border: solid black 1px;
  height: 55px;
  margin: 5px;
  background-color: #fff;
}

.marcas a {
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: larger;
}

.h5-marca-control {
  margin-top: 10px;
  text-align: center;
}

.h5-marca-control:hover {
  color: #6e6e6e;
}

.container-line {
  margin-top: 100px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-line h2:hover {
  cursor: default !important;
  color: #6e6e6e !important;
}

.container-stripe {
  display: block;
  border: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 100%;
  height: 3px;
  width: 80%;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: rgba(44, 44, 44, 0.85);
  border-radius: 10px;
}

.card {
  opacity: 0;
}

.nav-link {
  position: relative;
  color: #fff;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -3px;
  left: 0;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#car-form .form-control:focus {
  border-color: red !important;
  box-shadow: 0 0 0 0.15rem red !important;
}

.table {
  overflow: scroll !important;
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}
.popup-content {
  background: #fff;
  padding: 3px;
  border-radius: 1px;
  width: 90%;
  max-width: 500px;
}

.bg-dark {
  background-color: #1e1e1e !important;
  color: #1e1e1e !important;
}

.text-danger {
  color: #6e6e6e !important;
}

.hidden {
  display: none;
}
